.selected{
  background-color: yellow;
}

.field_set{
  border-color:black;
  border-style: solid;
}

.inline, .resume_block {
  display: inline-block;
}

.select_width{
  width: 200px;
}

.resume_block {
  width: 300px;
  height: 300px;
  border: 2px black solid;
  margin: 3px;
}

.center {
  text-align: center;
  padding-top: 220px;
}