<head>
  <meta charset="UTF-8">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <title>HR App</title>
</head>


<body>
  <div class="container-fluid">

	
  </div>

</body>



<template name="mainForm">
   <!--{{> aboutPage}}-->
   <br/>
  
  {{#if currentUser}}
	<!--{{> addPersonForm}}
    <br/>
	<ul>
      {{#each person}}
        <li class="person">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</li>
      {{/each}}
	</ul-->
	{{> navigation}}
	{{> lists}}
  {{/if}}
</template>



<template name="addPersonForm">
{{#if currentUser}}
  <div class="formName">
   <form class="firstForm">
	<div class="form-group inline">
	  <label for="">Name</label>
		<input type="text" class="form-control" name="personName" placeholder="Прізвище ім'я"/>
	</div>
	<div class="form-group inline" id="allSkills">
	<label for="">Skills</label>
		<input type="text" class="form-control" name="personSkill" placeholder="Скіли"/>
	</div>
	<div class="form-group inline"> 
		<input type="button" value="add skill" class="addSkill"/>
	</div>
	<div class="form-group inline">
	  <label for="">Date of Birth</label>
		<input type="date" class="form-control" name="personDate" placeholder="Дата народження"/>
	</div>
	<div class="form-group inline">
	  <label for="">City</label>
		<input type="text" class="form-control" name="personCity" placeholder="Місто"/>
	</div>
	<div class="form-group inline">
	  <label for="">Phone</label>
		<input type="text" class="form-control" name="personPhone" placeholder="Телефон"/>
	</div>
	<div class="form-group inline">
	  <label for="">Skype</label>
		<input type="text" class="form-control" name="personSkype" placeholder="Скайп"/>
	</div>
	<div class="form-group inline">
	  <label for="">Email</label>
		<input type="email" class="form-control" name="personEmail" placeholder="Електронна пошта"/>
	</div>
	<div class="form-group inline">
	  <label for="">Salary</label>
		<input type="text" class="form-control" name="personSalary" placeholder="Бажана зарплата"/>
	</div>
	<fieldset class="field_set">
	  <legend>Зайнятість</legend>
	  <div class="checkbox">
		<label><input type="checkbox" name="personWork"/> Повна зайнятість</label><br/>
		<label><input type="checkbox" name="personWork"/> Неповна зайнятість</label><br/>
		<label><input type="checkbox" name="personWork"/> Дистанційна робота</label><br/>
      </div>  
	</fieldset>
	
	<button type="submit" class="btn btn-default">Зберегти</button>
   </form>
  </div>
{{/if}}
</template>



<template name="navigation">
    <ul>
        <li><a href="{{pathFor route='home'}}">Home</a></li>
        <li><a href="{{pathFor route='register'}}">Register</a></li>
        <li><a href="{{pathFor route='login'}}">Login</a></li>
    </ul>
</template>




<template name="main">
    <h1><a href="/">HR Application</a></h1>
	{{> loginButtons}}
	{{> topMenu}}
	<!--div class="formName">
	  {{> mainForm}}
	</div-->
	{{> yield}}
    <hr />
    <p>Copyright &copy; NetLS, 2016</p>
</template>



<template name="home">
	{{#unless currentUser}}
	  <hr />
	  <p>Welcome to the HR application.</p>
	  <p>You must be logged-in to see this content.</p>
	{{/unless}}
</template>



<template name="register">
    <h2>Register</h2>
</template>



<template name="login">
    <h1>Login</h1>
</template>



<template name="addList">
    <form>Create a list:
        <input type="text" placeholder="List name here..." name="listName">
    </form>
</template>



<template name="lists">
    <h2>Lists</h2>
    {{> addList}}
    <ul>
        {{#each list}}
            <li><a href="/list/{{_id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</template>



<template name="listPage">
    <h2>Tasks: {{name}}</h2>
</template>



<template name="topMenu">
  {{#if currentUser}}
    <hr />
    <p>
      <a href="{{pathFor route='addPersonForm'}}"><button type="button" class="btn btn-default">Додати резюме</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <label> Професія: 
	    <div class="select_width inline">
	    <select class="form-control inline">
	    {{#each proff}}
	      <option class="proff">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</option>
		{{/each}}
        </select>
	    </div>
	  </label>
	  <!--div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Вибрати
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  {{#each proff}}
            <li class="proff"><a href="#">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</a></li>
          {{/each}}
         </ul>
      </div-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <label> Статус резюме: 
	    <div class="select_width inline">
	    <select class="form-control inline">
	    {{#each proff}}
	      <option class="proff">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</option>
		{{/each}}
        </select>
	    </div>
	  </label>
	  <!--div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Вибрати
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		  {{#each proff}}
            <li class="proff"><a href="#">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</a></li>
          {{/each}}
         </ul>
      </div-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default">Розширений перегляд</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всього: {{resumeCount}}
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ПОШУК</a>
	  &nbsp;&nbsp;&nbsp;<a href="#">СОРТУВАННЯ</a>
	  &nbsp;&nbsp;&nbsp;<a href="#">НАЛАШТУВАННЯ</a>
	  
	  &nbsp;&nbsp;&nbsp;<a href="{{pathFor route='allResumes'}}"><button type="button" class="btn btn-default">ВСІ РЕЗЮМЕ</button></a>
	  
	  <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Вибрати
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
		  {{#each proff}}
            <li class="proff">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</li>
          {{/each}}
         </ul>
      </div>
	  &nbsp;&nbsp;&nbsp;<a href="{{pathFor route='removePerson'}}">DELETE</a>
    </p>
	<hr />
  {{/if}}
</template>


<template name="allResumes">
{{#if currentUser}}
  <div class="">
    {{#each person}}
      <div class="person resume_block">
	    <span>{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</span>
		<br/>
		<div class="center">
		  <p><a href="/resume/{{_id}}"><button type="button" class="btn btn-default">Open</button></a>
		  <a href="/edit/{{_id}}"><button type="button" class="btn btn-default">Edit</button></a></p>
		</div>
	  </div>
	{{/each}}
  </div>
{{/if}}
</template>



<template name="removePerson">
{{#if currentUser}}
  <div class="formName">
  <ul>
    {{#each person}}
      <li class="person {{selectedClass}}">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</li>
	{{/each}}
  </ul>
  </div>
	  {{#if selectedPerson}} 
        &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default remove">Delete</button>
	  {{/if}} 
{{/if}}
</template>


<template name="showResume">
{{#if currentUser}}
  <h3>Resume: {{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</h3>
  <p><a href="/edit/{{_id}}"><button type="button" class="btn btn-default">Edit</button></a></p>
{{/if}}
</template>

<template name="editResume">
  {{#if currentUser}}
    <div class="formName">
   <form class="firstForm">
	<div class="form-group inline">
	  <label for="">Name</label>
		<input type="text" class="form-control" name="personName" value="{{name}}"/>
	</div>
	<div class="form-group inline" id="allSkills">
	<label for="">Skills</label>
		<input type="text" class="form-control" name="personSkill" value="{{skill}}"/>
	</div>
	<div class="form-group inline"> 
		<input type="button" value="add skill" class="addSkill"/>
	</div>
	<div class="form-group inline">
	  <label for="">Date of Birth</label>
		<input type="date" class="form-control" name="personDate" value="{{dateOfBirth}}"/>
	</div>
	<div class="form-group inline">
	  <label for="">City</label>
		<input type="text" class="form-control" name="personCity" value="{{city}}"/>
	</div>
	<div class="form-group inline">
	  <label for="">Phone</label>
		<input type="text" class="form-control" name="personPhone" value="{{phone}}"/>
	</div>
	<div class="form-group inline">
	  <label for="">Skype</label>
		<input type="text" class="form-control" name="personSkype" value="{{skype}}"/>
	</div>
	<div class="form-group inline">
	  <label for="">Email</label>
		<input type="email" class="form-control" name="personEmail" value="{{email}}"/>
	</div>
	<div class="form-group inline">
	  <label for="">Salary</label>
		<input type="text" class="form-control" name="personSalary" value="{{salary}}"/>
	</div>
	<fieldset class="field_set">
	  <legend>Зайнятість</legend>
	  <div class="checkbox">
		<label><input type="checkbox" name="personWork"/> Повна зайнятість</label><br/>
		<label><input type="checkbox" name="personWork"/> Неповна зайнятість</label><br/>
		<label><input type="checkbox" name="personWork"/> Дистанційна робота</label><br/>
      </div>  
	</fieldset>

	<button type="submit" class="btn btn-default">Зберегти</button>
   </form>
  </div>
  {{/if}}
</template>